* {
    font-family: "Poppins", sans-serif;
}

.titlefordropdown{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 480px) {
    .titlefordropdown{
        text-align: center;
        font-size: 2rem;
        padding: 0px 40px;
        font-weight: bold;
        color: white;
    }
}

.titlefordropdown2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #5C1647;
    margin-bottom: 0.5rem;
}
.titlefordropdown3{
    font-weight: bold;
    color: #5C1647;
    margin-bottom: 0.5rem;
}
.table-styling tr th{
    background-color: #F94546;
    border: 1px solid black;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
}
.table-styling tr td{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    text-align: center;
}
.table-styling tr:hover{
    opacity: 0.5;
    color: #F94546;
}

.table-styling2 tr th{
    background-color: #F94546;
    border: 1px solid black;
    color: white;
    padding: 1rem 1rem;
}
.table-styling2 tr td{
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
.table-styling2 tr:hover{
    opacity: 0.5;
}
.table-styling2 tr td:nth-child(2){
    text-align: center;
}
.super-table{
    background: linear-gradient(315deg, rgba(92,22,71,1) 0%, rgba(249,69,70,1) 100%);
    color: white;
}

.rotate-180 {
    transform: rotate(180deg);
}

.glassmorphism{
    background: rgba( 239, 239, 239, 0.65 );
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.31);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-point {
    align-items: flex-start;
    border-bottom: 1px solid #ffffff;
    z-index: 2;
}

.fullname {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.64px;
    line-height: 40px;
    text-align: left;
}

.button {
    background: #fff;
    border-radius: 12px;
    width: auto;
    display: block;
    padding: 16px;
}

.footer{
    box-shadow: 0 -10px 20px 10px #0000000a;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
@keyframes arrowAnimation {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    30% {
        transform: translateY(0%);
        opacity: 1;
    }
    70% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(50%);
        opacity: 0;
    }
}

.arrow-animation {
    animation: arrowAnimation 2s ease-in-out infinite;
}

.carousel-container {
    overflow-x: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    margin-right: 1px; /* Jarak antar kartu */
}

.carousel-item:last-child {
    margin-right: 0; /* Menghilangkan margin pada elemen terakhir */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}
